<mat-card *ngIf="track" style="max-width: 400px; margin: auto">
  <mat-card-header>
    <mat-card-title style="font-size: 1.3em; font-weight: bold">{{
      track.title
    }}</mat-card-title>
    <mat-card-subtitle style="color: #666">{{
      artistasNomes
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="track.album_thumb"
    alt="Album"
    style="border-radius: 8px; margin-bottom: 8px"
  />
  <mat-card-content>
    <div style="display: flex; flex-direction: column; gap: 8px">
      <span><strong>Lançamento:</strong> {{ track.release_date }}</span>
      <span><strong>Duração:</strong> {{ track.duration }}</span>
      <ng-container *ngIf="track.preview_url; else noPreview">
        <audio
          [src]="track.preview_url"
          controls
          style="width: 100%; margin-top: 8px"
        ></audio>
      </ng-container>
      <ng-template #noPreview>
        <span style="color: #b00">Preview não disponível.</span>
      </ng-template>
    </div>
  </mat-card-content>
  <mat-card-actions style="justify-content: center">
    <a
      mat-raised-button
      color="accent"
      [href]="track.spotify_url"
      target="_blank"
    >
      Ouvir no Spotify
    </a>
  </mat-card-actions>
</mat-card>
